@using Hippo.GdsRazor.Models
@model Hippo.GdsRazor.Models.NotificationBannerModel

<div id="@Model.Id" class="govuk-notification-banner @(Model.Type == "success" ? "govuk-notification-banner--success" : "") @Model.Classes" role="@(Model.Role ?? (Model.Type == "success" ? "alert" : "region"))"
     aria-labelledby="@(Model.TitleId ?? "govuk-notification-banner-title")" data-module="govuk-notification-banner"
     @if (Model.DisableAutoFocus != null) { <text>data-disable-auto-focus="@Model.DisableAutoFocus?.ToString().ToLowerInvariant()"</text> } @Html.Raw(Model.ExpandAttributes())>
  <div class="govuk-notification-banner__header">
    @await Html.PartialAsync("GdsHeading", new HeadingModel
              {
                HeadingLevel = Model.TitleHeadingLevel ?? 2,
                Classes = "govuk-notification-banner__title",
                Id = Model.TitleId ?? "govuk-notification-banner-title",
                Content = Model.Title != null ? Html.PartialAsync("GdsContent", Model.Title) : (Model.Type == "success" ? "Success" : "Important")
              })
  </div>
  <div class="govuk-notification-banner__content">
    @await Html.PartialAsync("GdsContent", Model.Content?.WrapIfText(content => @<p class="govuk-notification-banner__heading">@content</p>))
  </div>
</div>
