@model Hippo.GdsRazor.Models.TabsModel

<div id="@Model.Id" class="govuk-tabs @Model.Classes" data-module="govuk-tabs" @Html.Raw(Model.ExpandAttributes())>
  <h2 class="govuk-tabs__title">
    @(Model.Title ?? "Contents")
  </h2>
  @if (Model.Items?.Any() == true)
  {
    <ul class="govuk-tabs__list">
      @foreach (var (item, idx) in Model.Items.Select((v, i) => (v, i)))
      {
        <li class="govuk-tabs__list-item @(idx == 0 ? "govuk-tabs__list-item--selected" : "")">
          <a class="govuk-tabs__tab @item.Classes" href="#@(item.Id ?? $"{Model.IdPrefix}-{idx}")" @Html.Raw(item.ExpandAttributes())>
            @item.Label
          </a>
        </li>
      }
    </ul>
    foreach (var (item, idx) in Model.Items.Select((v, i) => (v, i)))
    {
      <div class="govuk-tabs__panel @(idx > 0 ? "govuk-tabs__panel--hidden" : "") @item.Panel?.Classes" id="@(item.Id ?? $"{Model.IdPrefix}-{idx}")" @Html.Raw(item.Panel?.ExpandAttributes())>
        @await Html.PartialAsync("GdsContent", item.Panel?.Content?.WrapIfText(content => @<p class="govuk-body">@content</p>))
      </div>
    }
  }
</div>
