@using GdsRazor.Models
@model GdsRazor.Models.CheckboxesModel

@if (Model.Hint != null)
{
  @await Html.PartialAsync("GdsHint", new HintModel
  {
    Id = Model.IdPrefix + "-hint",
    Content = Model.Hint.Content,
    Classes = Model.Hint.Classes,
    Attributes = Model.Hint.Attributes
  })
}
@if (Model.ErrorMessage != null)
{
  @await Html.PartialAsync("GdsErrorMessage", new ErrorMessageModel
  {
    Id = Model.IdPrefix + "-error",
    Content = Model.ErrorMessage.Content,
    Classes = Model.ErrorMessage.Classes,
    Attributes = Model.ErrorMessage.Attributes,
    VisuallyHiddenText = Model.ErrorMessage.VisuallyHiddenText
  })
}

<div id="@Model.Id" class="govuk-checkboxes @Model.Classes" @Html.Raw(Model.ExpandAttributes()) data-module="govuk-checkboxes">
  @if (Model.Items != null)
  {
    foreach (var (obj, idx) in Model.Items.Select((v, i) => (v, i)))
    {
      if (obj is CheckboxesModel.DividerModel divider)
      {
        <div class="govuk-checkboxes__divider">@divider.Divider</div>
      }
      else if (obj is CheckboxesModel.ItemModel item)
      {
        var id = item.Id ?? (idx == 0 ? Model.IdPrefix : $"{Model.IdPrefix}-{idx+1}");
        var conditionalId = item.ConditionalContent != null ? $"conditional-{id}" : null;
        var describedBy = string.Join(" ", new[] {Model.Fieldset != null ? null : Model.DescribedBy, item.Hint != null ? $"{id}-item-hint" : null}.OfType<string>());
        <div class="govuk-checkboxes__item">
          <input id="@id" class="govuk-checkboxes__input @item.Classes" name="@(item.Name ?? Model.Name)" type="checkbox"
                 value="@item.Value" @if (item.Checked ?? (item.Value != null && Model.Values?.Contains(item.Value) == true)) { <text>checked</text> } @if (item.Disabled) { <text>disabled</text> }
                 @if (conditionalId != null) { <text>data-aria-controls="@conditionalId"</text> } @if (!string.IsNullOrWhiteSpace(item.Behaviour)) { <text>data-behaviour="@item.Behaviour"</text> }
                 @if (!string.IsNullOrWhiteSpace(describedBy)) { <text>aria-describedby="@describedBy"</text> } @Html.Raw(item.ExpandAttributes()) />
          @await Html.PartialAsync("GdsLabel", new LabelModel
          {
            Id = item.Label?.Id,
            Content = item.Content,
            Classes = "govuk-checkboxes__label " + (item.Label?.Classes ?? ""),
            Attributes = item.Label?.Attributes,
            For = id
          })
          @if (item.Hint != null)
          {
            @await Html.PartialAsync("GdsHint", new HintModel
            {
              Id = id + "-item-hint",
              Content = item.Hint.Content,
              Classes = "govuk-checkboxes__hint " + (item.Hint.Classes ?? ""),
              Attributes = item.Hint.Attributes
            })
          }
        </div>
        if (item.ConditionalContent != null)
        {
          <div class="govuk-checkboxes__conditional @(item.Checked ?? (item.Value != null && Model.Values?.Contains(item.Value) == true) ? "" : "govuk-checkboxes__conditional--hidden")" id="conditional-@id">
            @await Html.PartialAsync("GdsContent", item.ConditionalContent)
          </div>
        }
      }
    }
  }
</div>
