@using GdsRazor.Models
@model GdsRazor.Models.CookieBannerModel

<div id="@Model.Id" class="govuk-cookie-banner @Model.Classes" data-nosnippet role="region" aria-label="@(Model.AriaLabel ?? "Cookie banner")" @if (Model.Hidden) { <text>hidden</text> } @Html.Raw(Model.ExpandAttributes())>
  @if (Model.Messages?.Any() == true)
  {
    @foreach (var message in Model.Messages)
    {
      <div class="govuk-cookie-banner__message govuk-width-container @message.Classes" role="@message.Role" @if (message.Hidden) { <text>hidden</text> } @Html.Raw(message.ExpandAttributes())>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            @if (message.Heading != null)
            {
              <h2 class="govuk-cookie-banner__heading govuk-heading-m">
                @await Html.PartialAsync("GdsContent", message.Heading)
              </h2>
            }
            <div class="govuk-cookie-banner__content">
              @await Html.PartialAsync("GdsContent", message.Content?.WrapIfText(content => @<p class="govuk-body">@content</p>))
            </div>
          </div>
        </div>

        @if (message.Actions?.Count > 0)
        {
          <div class="govuk-button-group">
            @foreach (var action in message.Actions)
            {
              if (!string.IsNullOrEmpty(action.Href))
              {
                if (action.Type == "button")
                {
                  @await Html.PartialAsync("GdsButton", new ButtonModel
                  {
                    Id = action.Id,
                    Content = action.Text ?? "",
                    Type = "button",
                    Href = action.Href,
                    Classes = action.Classes,
                    Attributes = action.Attributes
                  })
                }
                else
                {
                  <a id="@action.Id" class="govuk-link @action.Classes" href="@action.Href" @Html.Raw(action.ExpandAttributes())>@action.Text</a>
                }
              }
              else
              {
                @await Html.PartialAsync("GdsButton", new ButtonModel
                {
                  Id = action.Id,
                  Content = action.Text ?? "",
                  Value = action.Value,
                  Name = action.Name,
                  Type = action.Type,
                  Classes = action.Classes,
                  Attributes = action.Attributes
                })
              }
            }
          </div>
        }
      </div>
    }
  }
</div>
