@model GdsRazor.Models.ErrorSummaryModel

<div id="@Model.Id" aria-labelledby="@Model.Id-title" class="govuk-error-summary @Model.Classes" data-module="govuk-error-summary" @if (Model.DisableAutoFocus) { <text>data-disable-auto-focus="true"</text> } @Html.Raw(Model.ExpandAttributes())>
  <div role="alert">
    <h2 class="govuk-error-summary__title" id="@Model.Id-title">
      @await Html.PartialAsync("GdsContent", Model.Title)
    </h2>
    <div class="govuk-error-summary__body">
      @if (Model.Description != null)
      {
        <p>
          @await Html.PartialAsync("GdsContent", Model.Description)
        </p>
      }
      <ul class="govuk-list govuk-error-summary__list">
        @if (Model.ErrorList?.Any() == true)
        {
          @foreach (var error in Model.ErrorList)
          {
            <li>
              @if (!string.IsNullOrEmpty(error.Href))
              {
                <a id="@error.Id" class="@error.Classes" href="@error.Href" @Html.Raw(error.ExpandAttributes())>
                  @await Html.PartialAsync("GdsContent", error.Content)
                </a>
              }
              else
              {
                @await Html.PartialAsync("GdsContent", error.Content)
              }
            </li>
          }
        }
      </ul>
    </div>
  </div>
</div>
