@using GdsRazor.Models
@model GdsRazor.Models.TextareaModel

<div class="govuk-form-group @(Model.ErrorMessage != null ? "govuk-form-group--error" : "") @Model.FormGroupClasses">
  @if (Model.Label != null)
  {
    @await Html.PartialAsync("GdsLabel", new LabelModel
    {
      Id = Model.Label.Id,
      Content = Model.Label.Content,
      Classes = Model.Label.Classes,
      Attributes = Model.Label.Attributes,
      IsPageHeading = Model.Label.IsPageHeading,
      For = Model.Id
    })
  }
  @if (Model.Hint != null)
  {
    @await Html.PartialAsync("GdsHint", new HintModel
    {
      Id = Model.Id + "-hint",
      Content = Model.Hint.Content,
      Classes = Model.Hint.Classes,
      Attributes = Model.Hint.Attributes
    })
  }
  @if (Model.ErrorMessage != null)
  {
    @await Html.PartialAsync("GdsErrorMessage", new ErrorMessageModel
    {
      Id = Model.Id + "-error",
      Content = Model.ErrorMessage.Content,
      Classes = Model.ErrorMessage.Classes,
      Attributes = Model.ErrorMessage.Attributes,
      VisuallyHiddenText = Model.ErrorMessage.VisuallyHiddenText
    })
  }
  
  <textarea id="@Model.Id" class="govuk-textarea @Model.Classes @(Model.ErrorMessage != null ? "govuk-textarea--error" : "")" name="@Model.Name" rows="@(Model.Rows ?? 5)"
    @if (Model.Spellcheck != null) { <text>spellcheck="@Model.Spellcheck?.ToString().ToLowerInvariant()"</text> }
    aria-describedby="@Model.DescribedBy" autocomplete="@Model.Autocomplete" @Html.Raw(Model.ExpandAttributes())>@Model.Value</textarea>
</div>
